

.footer {
    padding: 10px 0;
    background-color: rgb(70, 70, 70);
    position: sticky;
    flex-shrink: 0;
    bottom: 0;
}
.footer_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-weight: bold;
}

.footer_wrap-adress p {
    margin-bottom: 10px;
}
.footer_wrap-adress p:last-child {
   margin-bottom: 0;
}

.footer_social {
    margin-top: 40px;
}
.footer_social * {
    font-size: 30px;
    color: white;
    margin-right: 20px;    
    transition: 0.2s;
    cursor: pointer;
}
.footer_social *:hover{
    transform: scale(1.5);   
}
